// Footer CTA

.section-footer-awards {
	
	background-image: url( assets/images/footer-awards/bg-footer-awards.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
    position: relative;
    
    &:after {
        content: '';
        background-color: rgba(#fff,.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;   
    }
	
	.wrap {
		padding: 90px 0 60px;
        position: relative;	
        z-index: 3;
	}
	
	img {
		display: block;
		margin: 0 auto $global-margin-bottom;	
		
		max-width: 100px;
		
		@media #{$large-up} {
      		max-width: none;
		}
	}
	
	h2, 
	h5 {
		color: #878787;	
	}
	
	h2 {
		margin-bottom: 30px;	
	}
	
	h5 {
 		margin-bottom: 30px;	
		font-weight: 600;
		
		span {
			font-weight: 700;
			font-size: 120%;	
		}
	}
	
	.entry-content p {
		color: #787878;
		margin-bottom: 15px;	
	}
	
	.cta {
		padding-top: 20px;	
		padding-bottom: 20px;
	}
	
	.footer-text {
		padding-top: 30px;	
	}
}