/* CSS Document */

.section-logos-testimonials {

	.award-logos {
 		display: table;
		margin-bottom: 30px;	
		> * {
			display: table-cell;
			vertical-align: middle;
			height: 100px;
		}
	}
	
	.testimonial-slider {
		
		@media #{$large-up} {
      		padding: 0 0 0 30px;
		}	
		
		.quote {
			* {
				font-size: 24px;	
				line-height: 32px;
			}
		}
		
		.details {
			* {
				font-size: 18px;
				font-style: italic;	
			}
		}
	}
	
}