/* CSS Document */

.site-main section {
	margin-bottom: 30px;
	
	@media #{$xlarge-up} {
		margin-bottom: 48px;
	}
	
	&.last {
		margin-bottom: 0;	
	}
	
	
}

.section-content {
		
	
	&.text-center * {
		text-align: center!important;	
	}
	
	img {
		margin-bottom: 30px;
		
		@media #{$large-up} {
      		//margin-bottom: 0;
		}	
	}
	
	img[src$=".svg"] {
		max-width: 300px;
		
	}
	
	@media #{$large-up} {
		&.image-left,
		&.image-right {
			.entry-content {
				overflow: hidden;
				text-align: left;	
			}
		}
		
		&.image-left {
      		img {
				float: left;
				margin-right: 90px;	
			}
		}
		
		&.image-right {
      		img {
				float: right;
				margin-left: 90px;	
			}
		}
	}
}	