//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;

	li {
		margin: 0 10px 0 0;
	}

	ul {
		@include list-reset;
	}

} // .menu


.no-touchevents a[href^="tel:"] {
	pointer-events: none;    /* prevents click event */
    cursor: text;            /* use text highlight cursor*/	
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		overflow: hidden;
	} // .site-main &

	&.nav-previous {
		float: left;
	} // &.nav-previous

	&.nav-next {
		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

.more {
	font-weight: 700;
	text-transform: uppercase;
}

.buttons {
	
	padding-bottom: 24px;
	
	a {
		vertical-align: middle;	
	}
}

.btn {
	background: $gray;	
	border-radius: 4px;
	color: $white!important;
	display: inline-block;
	font-size: 18px;
	min-width: 200px;
	padding: 4px 16px;
	
	text-align: center;
	
	margin: 0 auto 0;
	
	&:hover {
		background: $black;	
		color: $white!important;
	}
	
	&.gold {
		background: $primary;	
		border: 1px solid $primary;
		
 		&:hover {
			background: $white;	
			color: $primary!important;
		}
	}
}


