//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;

	li {
		margin: 0 10px 0 0;
	}

	ul {
		@include list-reset;
	}

} // .menu


.no-touchevents a[href^="tel:"] {
	pointer-events: none;    /* prevents click event */
    cursor: text;            /* use text highlight cursor*/	
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		overflow: hidden;
	} // .site-main &

	&.nav-previous {
		float: left;
	} // &.nav-previous

	&.nav-next {
		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

.more {
	font-weight: 700;
	text-transform: uppercase;
}

.buttons {
	
	
	
	a {
		vertical-align: middle;	
		margin-bottom: 24px;
	}
}

ul.buttons {
    @include list-reset;
    margin: 0 -15px;
    
    li {
        display: inline-block;
        padding: 0 15px;   
    }
}


.cta {
	padding-bottom: 15px;	
}

.btn {
	background: $anchor-color;	
	border-radius: 8px;
	color: $white!important;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	min-width: 200px;
	max-width: 100%;
	padding: 4px 16px;
	text-transform: uppercase;
	text-align: center;
	
	margin: 0 auto 0;
	
	&:hover {
		background: $anchor-color-hover;	
		color: $white!important;
	}
	
	&.small {
		font-size: 12px;
	}
	
	&.medium {
		padding: 8px 24px;	
		@media #{$large-up} {
      		padding: 12px 24px;	
		}
	}
	
	&.large {
		padding: 8px 24px;	
		@media #{$large-up} {
      		padding: 12px 60px;	
		}
	}
    
    &.xlarge {
		padding: 8px 24px;	
        width: 100%;
		@media #{$large-up} {
      		padding: 12px 60px;	
            font-size: 24px;
            
		}
	}
	
	&.gold {
		background: $primary;	
		border: 1px solid $primary;
		
 		&:hover {
			background: $white;	
			color: $primary!important;
		}
	}
	
	&.gray {
		background: $gray;	
 		
 		&:hover {
			background: scale-color($gray, $lightness: 15%);	
 		}
	}
	
	&.flex {
		display: flex;
		align-items: center;
		
		span {
			width: 100%;	
		}
	}
}


