.site-header {
	
	.menu-btn {
		
		display: inline-block;
		vertical-align: middle;
		
		@include transition(all, 0.2s, ease-in-out);
	
		&.right {
			
		}
	
		&:hover {
			
		}
	
		span.line {
			transition: 0;
			background: #fff;
			width: 24px;
			height: 3px;
			margin-bottom: 5px;
			display: block;
		}
	}
}
	
.pushy-active .menu-btn {
	color: $white;
}
	
.pushy {
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	position: fixed;
	width: 260px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 9999;
	background: #666666;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	.close-btn {
		color: $white;
		display: block;
		opacity: .8;
 		font-size: 16px;
		padding: 20px 40px 20px;
		text-align: right;
	
		&:hover {
			text-decoration: none;
			opacity: 1;
			color: #fff;
		}
	
		span {
			float: right;
			font-size: 16px;
			margin-top: 4px;
			font-weight: normal;
		}
	}
}
	
.pushy-left {
	transform: translate3d(260px, 0, 0);
}
	
.pushy-right {
	transform: translate3d(-260px, 0, 0);
}
	
.pushy-open {
	transform: translate3d(0, 0, 0);
}
	
.container-push, 
.push-push {
	transform: translate3d(-260px, 0, 0);
}
	
.pushy, 
.site-container, 
.push {
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-webkit-backface-visibility: hidden;
}
	
.site-overlay {
	display: none;
}
	
.pushy-active { 
	
	.touchevents & {
		overflow: hidden;
	}
	
	.site-overlay {
		display: block;
		position: fixed;
		top: 0;
		right: 260px;
		bottom: 0;
		left: 0;
		z-index: 9999;
	}
}

.site-container {
	overflow-x: hidden;	
}
			

@media #{$xxlarge-up} {
 
 	.pushy, 
	.site-header .menu-btn {
		display: none;	
	}
      
}