// Typography

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; 
}

body {
	font-family: $paragraph-font-family;
	font-style: $paragraph-font-style;
	font-weight: $paragraph-font-weight;
	font-size: $paragraph-font-size;  
	color: $paragraph-font-color;
	-webkit-font-smoothing: antialiased;
}

hr {
	height: 1px;
	background: #cecece;
	border: none;
	margin-bottom: 22px;	
}


a {
	text-decoration: none;
}

p.no-margin {
	margin-bottom: 0!important;	
}

// Links
a {
	color: $anchor-color;
 	outline: none!important;	
	
	transition: background 200ms linear, color 200ms linear;
	
	&:focus {
		outline: none!important;	
	}

	&:visited {
		//color: $anchor-color;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $anchor-color-hover;
	} // &:hover, &:focus, &:active
} // a

strong {
	font-weight: 700;	
}
		
/* Headings
--------------------------------------------- */	
		
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	font-family: $header-font-family;
	font-weight: 300;
	margin-bottom: 10px;
 	
	a {
		color: $anchor-color;	
	}
	
	@media #{$large-up} {
    	span {
			//display: block;	
		}
	}
	
}


// Heading sizes
@each $size, $headers in $header-sizes {
	@include breakpoint($size) {
		@each $header, $font-size in $headers {
			#{$header},
			.#{$header} {
			  //font-size: rem-calc($font-size);
			  font-size: $font-size + px;
			}
		}
	}
}

// Heading Line Heights

h1, 
.h1 {
	line-height: (52/48); 
	margin-bottom: 24px;	
}

h2,
.h2 {
	
	line-height: (40/36); 
	margin-bottom: 20px;
}

h3,
.h3 {
	line-height: (43/32);
 }

h4,
.h4  {
	line-height: (34/24);
}

h5,
.h5 {
	line-height: (28/20);
}

h6
.h6 {
	line-height: (28/20);
}


.entry-content {

	a {
		color: $anchor-color;
		text-decoration: none;
			
		&:hover {
			color: $anchor-color-hover;
		}
	}
	
	p, li {
		line-height: $paragraph-line-height;
		margin-bottom: $paragraph-margin-bottom;	
	}
	
	&.featured p {
		font-size: 18px;
		line-height: 1.72;	
	}
	
	ul:not([class]),
	ol:not([class]) {
		
		margin-left: 40px;
		list-style-position: outside;
		
		li {
			padding: 0 0 5px 0;
			margin-bottom: 0;
		}
	}
	
		
	ol li {
		list-style-type: decimal;
	}
	
}


ul, ol {
	&.list {
		@include list-reset;	
	}
}