// widgets

#secondary.widget-area .widget ul {
	@include list-reset;
}

.widget_dpe_fp_widget ul,
.widget_nav_menu ul {
	@include list-reset;
}

.share-icons {

	margin: 0;
	padding: 20px 0;
	

	&:before {
		content: 'Share';	
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		color: #9b9b9b;
		font-weight: 700;
		padding-right: 12px;
		line-height: 32px;
		
		@media only screen and (max-width : 639px) {
			display: none;
		}
	}
	
	li {
		list-style-type: none;
		display: inline-block;
		margin: 0 0 0 15px;
		
		&:first-child {
			margin-left: 0;	
		}
		
		a {
			background: $anchor-color;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: block;
			position: relative;
		}
		
		i {
			color: #fff;
			font-size: 16px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	
		
	}
	
}

.social-icons {

	ul {
		@include list-reset;	
	}
	
	li {
 		display: inline-block;
		margin: 0 9px 0 0;
	
		
		a {
			color: rgba($black, .3);
			padding: 0 3px;
			
			&:hover {
				color: rgba($black, .5);
			}
			
			i:before {
				font-size: 20px;	
			}
		}
		
	}
	
}