//  Settings (includes overrides for sass/foundation/settings.scss)
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers


// 1. Global
// ---------

$global-font-size: 100%;
$global-width: 1130px;
$global-lineheight: 1.67;
$global-margin-bottom: 24px;


// Theme



// Default 

$light-gray: #d1d2d4;
$gray: #666666;
$medium-gray: #474747;
$dark-gray: #212121;
$black: #000000;
$white: #ffffff;

$primary: #cab684;

$orange: #f1592a;

$body-background: $white;
$body-font-color: #999;
$body-font-family: 'Open Sans', sans-serif;

$global-margin: 24px;
$global-padding: 10px;
$global-weight-normal: normal;
$global-weight-bold: 700;
$global-radius: 0;
$global-text-direction: ltr;


// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 980px,
  xlarge: 1024px,
  xxlarge: 1200px,
  xxxlarge: 1366px
);
// must match $breakpoints
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge)!default;


// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12; // usually 12
$grid-column-gutter: (
  small: 30px,
  large: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;


// 4. Base Typography
// ---------

$header-font-family: 'Open Sans', sans-serif;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;

$header-sizes: (
  small: (
    'h1': 32,
    'h2': 28,
    'h3': 24,
    'h4': 22,
    'h5': 18,
    'h6': 16,
  ),
  large: (
    'h1': 36,
    'h2': 32,
    'h3': 28,
    'h4': 26,
    'h5': 22,
    'h6': 20,
  )
);

$header-color: #000000;
$header-lineheight: 1.4;
$header-margin-bottom: 24px;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;

$paragraph-font-family: $body-font-family;
$paragraph-font-style: normal;
$paragraph-font-weight: 400;
$paragraph-font-size: 15px;
$paragraph-line-height: 1.67;
$paragraph-font-color: #474747;
$paragraph-margin-bottom: 24px;

$anchor-color: $orange;
$anchor-color-hover: scale-color($orange, $lightness: 15%);