/* CSS Document */

.template_associations-accreditation .section-group {
	
	padding-top: 30px;
	
	.grid {
		
		padding-top: 30px;
		padding-bottom: 60px;
		
		.column {
			
			margin-bottom: 24px;
			
			img {
				margin: 0 auto 30px;	
			}
			
			
			@media #{$large-up} {
				img {
					float: left;
					margin-right: 30px;
				}
				
				.entry-content {
					overflow: hidden;	
				}
			}	
		}
	}
	
}