/* CSS Document */

.blog,
.category,
.single-post {
	
	
	.site-main {
		padding-top: 30px;
		
		@media #{$large-up} {
      		padding-top: 48px;
		}
		
		padding-bottom: 90px;	
	}
	
	
	
	.site-main article {
		@include clearfix;	
		
		
		h3 {
			margin-bottom: 0;	
		}
		
		.entry-meta {
			color: $light-gray;	
			font-weight: 600;
			margin-bottom: 24px;	
		}
		
		img {
			margin-bottom: 30px;	
		}
	}
	
	.entry-footer {
		
		padding-top: 24px;
		
		span {
			padding-right: 5px;	
		}
	}
}

.blog {

	.site-main article {
		padding-top: 30px;
		&:not(.first) {
 			margin-top: 30px;
 			border-top: 1px solid $light-gray;
		}
		
	}
	
}


.single-post {

	.site-main {
		padding-top: 30px;
		
		@media #{$large-up} {
      		padding-top: 48px;
		}
		
		padding-bottom: 90px;	
	}
	
}


#secondary {
	
	padding-top: 30px;
		
		@media #{$large-up} {
      		padding-top: 48px;
		}
		
	.widget-area {
		@media #{$large-up} {
      		padding-left: 60px;
		}	
	}
	
	.widget {
		background: #eee;
		padding: 15px;
	}
}