/* CSS Document */

.blog {
	
	
	.site-main {
		padding-top: 0;
		padding-bottom: 90px;	
	}
	
	
	
	.hentry {
		@include clearfix;	
		margin-top: 30px;
		
		.entry-meta {
			color: $primary;	
			font-weight: 700;
			margin-bottom: 10px;	
		}
	}
	
	.hentry.sticky {
		
		margin-top: 0;
		padding: 60px 40px 0 40px;	
		
		.thumbnail-box {
			position: relative;	
			float: left;
			margin-right: 60px;	
			
			span {
				position: absolute;
				top: -4px;
				right: -20px;
				z-index: 2;
				font-size: 20px;
				padding: 4px 8px;
				background: $primary;
				color: $white;
				text-transform: uppercase;	
				box-shadow: 0px 3px 4px rgba(100,100,100, .4);
			}
		}
	
	}
	
	
}


.single-post {

	
	.section-content {
		padding-top: 60px;
		padding-bottom: 30px;	
	}
	
}