//
// Front Page
//


.home {

	
	.royalSlider .caption {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 80%;
		text-align: center;	
		
		@media #{$large-up} {
      		max-width: 600px;
		}
				
		.rsABlock {
			position: relative;	
		}
		
		h2,
		p {
			color: #fff;	
		}
		
		h2 {
			
			font-size: 16px;
			margin: 0 auto;
			
			@media #{$medium-up} {
      			font-size: 24px;
			}
			
			@media #{$xlarge-up} {
      			font-size: 40px;
			}	
		}
	}
	
	
	.section-default {
	
		//padding-top: 30px;
		
		.cta {
			
			@media #{$large-up} {
      			text-align: right;
			}	
		}
		
	}
	
}

// fix for background fade issue on slider text
.rsTextSlide {
	background: #fff;	
}

.button-group {
    
    padding-bottom: 0;
    
    a {
        width: 100%;
        margin-bottom: rem-calc(20);   
    }
    
    @media #{$large-up} {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 0 -10px;
        
        a {
            display: inline-block;
            vertical-align: middle;
            width: calc(50% - 20px);
            padding-left: 10px!important;
            padding-right: 10px!important; 
            margin-left: 10px;
            margin-right: 10px;  
        }
    }
    

}