//
// Front Page
//


.home {
	
	.caption {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;	
				
		.rsABlock {
			position: relative;	
		}
		
		h4,
		p {
			color: #fff;	
		}
	}
	
}

.rsTextSlide {
	background: #fff;	
}