/* CSS Document */


.post-type-archive-gallery {	
	.site-main {
		padding-top: 30px;	
	}
	
	article {
		padding-bottom: 30px;	
	}
	
	.grid {
	
		a {
			display: block;
			position: relative;	
		}
		
		.entry-header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			
			h2 {
				color: #ffffff;
				text-align: center;
				font-size: 38px;
				padding: 0 10px;
			}
		}
	}
	
}

.tax-gallery_cat {
	
	.site-main {
		padding-top: 30px;	
	}
	
	article {
		padding-bottom: 30px;	
	}
	
	.grid {
	
		padding-top: 30px;
	
		a {
			display: block;
			position: relative;	
			
			&:hover {
				opacity: .9;	
			}
		}
		
		.entry-header {
			/*position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba( #000, .6);
			height: auto;
			min-height: 70px;*/
 				
 			
			h2 {
				//color: #ffffff;
				text-align: center;
				font-size: 18px;
				padding: 10px;
				margin: 0 auto;
				font-weight: 400;
			}
		}
	}
	
}

.touchevents .grid .entry-header {
	opacity: 1;	
}

.single-gallery {

	article {
		padding: 30px 0;	
	}
	
	.toggle-photo {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 999;	
		padding: 5px 10px;
		text-transform: uppercase;
		color: #fff;
		background-color: $anchor-color;
		cursor: pointer;
		
	}
	
	// hide thumbnails when lazy loading slides
	.royalSlider a.rsImg img {
		display: none;
	}
	
	// reposition thumbs
	.rsDefault .rsNav {
		position: relative!important;
		bottom: auto!important;
	}
	
	.rsDefault .rsThumb.rsNavSelected {
		background: $light-gray;
	}
	
	.grid {
		
		padding-top: 30px;
		
		.column {
			padding-bottom: 30px;
		}
		
		&.awards {
			
			h3 {
				@extend .h4;	
			}
			
			@media #{$large-up} {
      			img {
					float: left;	
					margin-right: 30px;
				}
				
				.entry-content {
					overflow: hidden;	
				}
			}
		}
	}
	
	.rsThumbs {
		margin-top: 3px;	
       
	}
    
    .rsThumb {
        width: 96px;
       height: 72px;
    }
    .rsTmbBackground {
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
    }
    .rsTmb,
    .rsTmbBackground {
      width: 100%;
      height: 100%;
    }
	/*
	// Change thumbnail size
	.rsThumb {
        width: 120px;
        height: 120px;
    }
    .rsThumbsHor {
        height: 120px;
    }
	*/

	
}