/* CSS Document */

.template_our-team {

	.section-team {
		padding-top: 30px;	
	}
	
	.grid {
	
		img {
			margin-bottom: 10px;
			max-width: 150px;
			
			@media #{$medium-up} {
      			max-width: 100%;
			}	
		}
		
		.entry-header {
			margin-bottom: 30px;	
		}
		
		h3, p {
			color: #999;	
		}
		
		h3 {
 			margin-bottom: 2px;	
		}
		
		p {
			line-height: 1.3;
			font-size: 80%;
			
			@media #{$medium-up} {
      			font-size: 100%;
			}	
		}
		
	}
	
}