/* CSS Document */

.template_our-team {

	.section-team {
		padding-top: 30px;	
	}
	
	.grid {
	
		img {
			margin-bottom: 10px;	
		}
		
		.entry-header {
			margin-bottom: 30px;	
		}
		
		h3, p {
			color: #999;	
		}
		
		h3 {
			font-size: 24px;
			margin-bottom: 0;	
		}
		
	}
	
}