
.hide {
	display: none;	
}

body {
	background-color: #fff;	
	overflow-x: hidden;
	
}

.site-container {
	background: #fff;
 	margin: 0 auto;	
}

.site-content {
	 
}

.wrap {
	
}

.section-default {
	padding-top: 30px;	
	
	@media #{$xxlarge-up} {
    	padding-top: 48px;  
	}
}

.featured p {
	font-size: 18px;
	line-height: 24px;
}

.page-template-default,
.error404 {
	
	.content {
		padding-top: 0;	
		padding-bottom: 30px;
	}
	
	.entry-content {
		
		padding-top: 0;
		margin-bottom: 0;
		
		> *:last-child {
			//margin-bottom: 0;	
		}
	}
	
	.entry-title {
		
	}
	
}



body:not(.single-gallery) #slider.royalSlider {
	height: 200px!important;
	
	@media only screen and (min-width : 480px) {
		height: 250px!important;  
	}
	
	@media #{$large-up} {
		height: 350px!important;
	}	
	
	@media #{$xxlarge-up} {
		height: 590px!important;
	}	
	
}