/* CSS Document */

.template_preferred-partners .section-partners {
	
	.grid {
		.column {
			
			margin-bottom: 24px;
			
			img {
				margin: 0 auto 30px;	
			}
			
			
			@media #{$large-up} {
				img {
					float: left;
					margin: 0 30px auto 0;	
				}
				
				.entry-content {
					overflow: hidden;	
				}
			}	
		}
	}
	
}