/* CSS Document */

.template_process {
	
	.section-steps {
	
		.column {
		
			&:first-child() .step-title {
				background-image: url(assets/images/silos/custom-homes.jpg);
			}
			
			&:nth-child(2) .step-title {
				background-image: url(assets/images/silos/renovations.jpg);
			}
			
			&:nth-child(3) .step-title {
				background-image: url(assets/images/silos/kitchen-bath.jpg);
			}
			
			&:nth-child(4) .step-title {
				background-image: url(assets/images/silos/home-improvements.jpg);
			}
			
			
			.step-title {
				
				padding: 10px 5px;
				text-align: center;
				
				> * {
					color: #fff;	
					font-size: 18px;
				}
				
				h3 {
					margin: 0 auto 0;	
				}
				
				p {
					margin: 0 auto;	
				}
			}
			
			
			
		}
		
	}
	
}