//
// Silo Landing Page
//

.template_silo-landing-page {
	.section-default {
		padding-top: 30px;	
	}
	
	.section-details  {
		margin-bottom: 0;	
	}
	
	.section-details .grid .entry-content {
		padding-bottom: 48px;	
	}
    
    
    .silo-pitch {
        display: block!important;   
        color: #fff!important;
        position: absolute;
        bottom: 25px;
        right: 15px;
        font-size: 18px;
    }
}