//
// Silo Landing Page
//

	
body.silo-custom-homes .site-header  {
	background-image: url(assets/images/header/custom-homes.jpg);			
}


.site-header .silo-title {
	color: #fff;
	font-size: 40px;
	line-height: 43px;
	margin: 0 auto;	
	text-align: left;
}