//
// Silo Landing Page
//

	
body.silo-custom-homes .site-header  {
	background-image: url(assets/images/header/custom-homes.jpg);			
}

body.silo-renovations .site-header  {
	background-image: url(assets/images/header/renovations.jpg);			
}

body.silo-kitchen-bath .site-header  {
	background-image: url(assets/images/header/kitchen-bath.jpg);			
}

body.silo-home-improvements .site-header  {
	background-image: url(assets/images/header/home-improvements.jpg);			
}

body.silo-mechanical-plus .site-header  {
	background-image: url(assets/images/header/mechanical-plus.jpg);			
}


.site-header .silo-title {
	color: #fff;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 43px;
	margin: 0 auto;	
	text-align: left;
}


 	
.silo-page .header-buttons {
	
	> button,
	> a {
		background: rgba($black, .3);
		&:hover {
			background: rgba($black, .5);
		}
	}
}


.silo-page .site-header {
	.menu-btn {
		span.line {
 			background: rgba($black, .3);
		}
	}
}