//
// Silo Landing Page
//

.template_silo-landing-page {
	.section-default {
		padding-top: 30px;	
	}
	
	.section-details  {
		margin-bottom: 0;	
	}
	
	.section-details .grid .entry-content {
		padding-bottom: 48px;	
	}
}