// Video Archive


// hide captions for videos
.fbx-caption {
	display: none!important;	
}

a.youtube {
	display: block;
	position: relative;	
	
	&:hover {
		opacity: .9;	
	}
	
	.video-icon {
		width: 50px;
		height: 35px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url(assets/images/youtube-play@2x.png);
		background-repeat: no-repeat;
		background-size: 50px 35px;
		
	}
}


	

.post-type-archive-videos {

	
	.entry-header {
		
		padding: 5px 0 30px;
		
		h3 {
			font-size: $paragraph-font-size;	
			
			a {
				color: #000;	
			}
		}
		
	}
    
    #category-names-filter {
        .menu {
            @include list-reset;   
            margin: 25px auto 25px;
            
            li {
                display: inline-block;  
                margin-bottom: 4px;
                
                a {
                    display: block;
                    padding: 4px 8px;
                    font-size: 15px;
                    font-weight: 400;
                    cursor: pointer;
                    text-transform: none;
                    
                    background: $light-gray;
                    color: #fff;
                    
                    @media #{$xxxlarge-up} {
                        min-width: 100px; 
                        font-size: 18px;  
                    }
                    
                    &:hover {
                        background: $gray;   
                    }
                }
                
                a.current-menu-item,
                a.mixitup-control-active {
                    background: $gray;   
                }
            }
        }
    }
    
    .video-grid {
        font-size: 0;   
    }
    
    .video-grid .column {
        clear: none!important;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 0!important;
     }
	
}



