// Video Archive


// hide captions for videos
.fbx-caption {
	display: none!important;	
}

a.youtube {
	display: block;
	position: relative;	
	
	&:hover {
		opacity: .9;	
	}
	
	.video-icon {
		width: 50px;
		height: 35px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url(assets/images/youtube-play@2x.png);
		background-repeat: no-repeat;
		background-size: 50px 35px;
		
	}
}


	

.post-type-archive-videos {

	
	.entry-header {
		
		padding: 5px 0 30px;
		
		h3 {
			font-size: $paragraph-font-size;	
			
			a {
				color: #000;	
			}
		}
		
	}
    
    #category-names-filter {
        text-align: center;
        margin-bottom: 24px;   
    }
    
    #category-names-filter a {
		display: inline-block;
		padding: 4px 8px;
 		font-size: 15px;
		font-weight: 400;
		cursor: pointer;
		text-transform: none;
		margin-bottom: 4px;
        border: 1px solid $medium-gray;
        color: $medium-gray;
        
        @media #{$xxxlarge-up} {
            min-width: 100px;
        }
	}
	
	#category-names-filter a.mixitup-control-active,
	#category-names-filter a:hover {
		background-color: rgba($light-gray, .3);
	}
	
	#category-names-filter button:focus {
		outline: 0 none;
	}
	
}



